.breadcrumbs {
  @apply mb-2 flex flex-wrap whitespace-pre-wrap items-center text-sm font-semibold;
}

.breadcrumbs *:not(:last-child):after {
  content: "/";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  opacity: 0.5;
}
