@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  position: relative;
  @apply  dark:bg-dark-bg;
}

.article-content p {
  @apply dark:font-light text-black mb-8 dark:text-white dark:text-opacity-50 text-opacity-70;
}
.article-content a {
  @apply text-blue-600
}
.article-content blockquote  {
  @apply border-l-2 border-l-gray-600 pl-3 py-2 mb-8 mt-8 dark:font-medium;
}

.article-content blockquote cite {
  @apply text-sm mt-2 block text-gray-500 dark:text-white dark:text-opacity-80 dark:font-light;
}

.article-content blockquote p {
  @apply mb-0 mt-0 text-black dark:text-white;
}

.article-content video {
  @apply w-full
}
.article-content :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold mb-4;
  @apply dark:text-white;
}
.article-content img {
  @apply max-h-[500px] object-cover w-full;
}
.article-content table {
  @apply w-full border 
}
.article-content figure.wp-block-table {
  @apply w-full mt-0
}
.article-content td {
  @apply border-b border-r px-4 py-2
}
.article-content figure {
  @apply mt-0 mb-6 rounded-3xl relative;
}
.article-content figure figcaption {
  @apply text-center text-sm absolute top-2 left-2 px-4 py-2;
  @apply bg-primary text-black rounded-3xl;
}

.article-content ul {
  @apply list-disc px-10 mt-5 space-y-1 mb-5;
}

.article-content ul li {
  @apply dark:font-light dark:text-white dark:text-opacity-60;
}
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maxline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
